/* css style sheet for index.html */

body {
    background-color: #FCFBF7; /* snowy white */
    font-family: Helvetica;
  }

  /* top banner code */
  .banner-head {
    padding: 20px;
    background-color: #74B3CE; /* azure blue */
    height: 55px;
    max-width: 960px;
    margin: 0 auto;
  }
  header {
    font-size: 40px;
    margin-left: 100px;
    padding: 5px;
  }
  img {
    width: auto;
    height: 250px;
    box-shadow: 5px 5px 8px 8px #999;
    float: right;
    margin-right: 275px;
  }

  main {
    background-color: #FCFBF7;
    max-width: 1000px;
    margin: 0 auto;
  }
  h2 {
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    border-bottom: 5px double;
    border-color: gray;
    margin-left: 2em;
    margin-top: 50px;
  }
  ul {
      font-family: Courier, monospace;
      font-size: 20px;
      margin-left: 3em;
      margin-bottom: 50px;
  }

  /*footer code */
  footer {
    padding: 20px;
    background-color: #74B3CE; /* azure blue */
    height: 55px;
    max-width: 960px;
    margin: 0 auto;
  }
  footer p {
    font-size: 15px;
    text-align: center;
    padding: 5px;
  }
