/* css style sheet for index.html */

body {
    background-color: #FCFBF7; /* snowy white */
    font-family: Helvetica;
  }

  .banner-head {
    display: grid;
    grid-template-columns: 110px auto;
    background-color: #74B3CE; /* azure blue */
    line-height: 1em;
    max-width: 1000px;
    margin: 0 auto;
  }
  header {
    display: grid;
    grid-template-columns: 110px auto;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    font-size: 1em;
  }
  img {
    margin: 20px;
    padding: 1em;
    max-width: 90%;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 8px 8px #999;
  }
  main {
    background-color: #FCFBF7;
    max-width: 1000px;
    margin: 0 auto;
  }
  h2 {
    font-family: serif;
    font-size: 25px;
    border-bottom: 5px double;
    border-color: gray;
  }
  
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background-color: #74B3CE; /* azure blue */
    height: 55px;
    max-width: 960px;
    margin: 0 auto;
  }
  footer p {
    font-size: 14px;
    text-align: center;
  }
