/* css style sheet for index.html */

body {
    background-color: #FCFBF7; /* snowy white */
    font-family: Helvetica;
  }

  /* top banner code */
  .banner-head {
    display: grid;
    grid-template-columns: 110px auto; 
    background-color: #74B3CE; /* azure blue */
    line-height: 1em;
    max-width: 1000px;
    margin: 0 auto;
  }
  header {
    text-align: center;
    font-size: 120px;
    margin: 0 auto;
    padding: 1em;
  }
  img {
    padding: 10px;
    max-width: 90%;
    border: 1px solid white;
    box-shadow: 5px 5px 8px 8px #999;
    grid-column: 4/5;
    grid-row: 1/3;
  }

/* main content code */
 .home-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em;
  } 
  main {
    background-color: #FCFBF7;
    max-width: 1000px;
    margin: 0 auto;
  }
  h2 {
    font-family: serif;
    font-size: 25px;
    border-bottom: 5px double;
    border-color: gray;
    margin-left: 1em;
    grid-column: 2/4;
    grid-row: 2/3;
  }

  /*footer code */
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background-color: #74B3CE; /* azure blue */
    height: 55px;
    max-width: 960px;
    margin: 0 auto;
  }
  footer p {
    font-size: 14px;
    text-align: center;
  }
