/* css style sheet for design-principes.html */

@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300&family=Hachi+Maru+Pop&display=swap');

body {
    background-color: #FCFBF7; /* snowy white */
  }
main {
    background-color: #FCFBF7;
    max-width: 1000px;
    margin: 0 auto;
  }
  
/* top banner code */
.banner {
    padding: 20px;
    background-color: #74B3CE; /* azure blue */
    height: 55px;
    max-width: 960px;
    margin: 0 auto;
  }
header {
    font-size: 40px;
    font-family: "Hachi-Maru-Pop", cursive;
    text-align: center;
    margin-bottom: 20px;
  }
  
h2 {
    font-family: "Hachi-Maru-Pop", cursive;
    font-size: 30px;
    border-bottom: 5px double;
    border-color: pink;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
}
h3 {
    font-family: "Fraunces", serif;
    font-size: 25px;
    color: blueviolet;
    padding: 5px;
    margin-left: 25px;
}
img {
  padding: 10px;
  width: auto;
  height: 400px;
  float: left;
  margin-bottom: 20px;
  margin-right: 10px;
}
a {
  text-decoration-color: blue;
  color: blueviolet;
  font-size: 20px;
}
p {
    font-family:"Fraunces", serif;
    font-size: 15px;
    padding: 5px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 200px;
}


/*footer code */
  footer {
    padding: 20px;
    background-color: #74B3CE; /* azure blue */
    height: 55px;
    max-width: 960px;
    margin: 0 auto;
  }
  footer p {
    font-size: 15px;
    text-align: center;
    padding: 5px;
  }
