/* css style sheet for design-principes.html */

@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300&family=Hachi+Maru+Pop&display=swap');

body {
    background-color: #FCFBF7; /* snowy white */
  }
main {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1em;
    background-color: #FCFBF7;
    max-width: 1000px;
    margin: 0 auto;
  }
  
/* top banner code */
.banner {
    padding: 20px;
    background-color: #74B3CE; /* azure blue */
    height: 55px;
    max-width: 960px;
    margin: 0 auto;
  }
header {
    font-size: 40px;
    font-family: "Hachi-Maru-Pop", cursive;
    text-align: center;
    margin-bottom: 20px;
  }

/* principle classes grid code */
#p1 {
/*   grid-column: 1/2; */
  padding: 5px;
  border: 3px solid gray;
  margin-top: 2em;
  margin-bottom: 2em;
}
#p2 {
/*  grid-column: 2/3; */
  padding: 5px;
  border: 3px solid gray;
  margin-top: 2em;
  margin-bottom: 2em;
}
#p3 {
 /* grid-column: 3/4; */
  padding: 5px;
  border: 3px solid gray;
  margin-top: 2em;
  margin-bottom: 2em;
}
  
h2 {
    font-family: "Hachi-Maru-Pop", cursive;
    font-size: 25px;
    background-color: pink;
    padding: 15px;
    margin-top: 2px;
    text-align: center;
}
h3 {
    font-family: "Fraunces", serif;
    font-size: 20px;
    color: blueviolet;
    padding: 5px;
    text-align: center;
}
img {
  padding: 8px;
  max-width: 95%;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: blueviolet;
  font-size: 15px;
  margin-left: 10px;
}
p {
    font-family:"Fraunces", serif;
    font-size: 15px;
    padding: 10px;
}

/*footer code */
  footer {
    padding: 20px;
    background-color: #74B3CE; /* azure blue */
    height: 55px;
    max-width: 960px;
    margin: 0 auto;
  }
  footer p {
    font-size: 15px;
    text-align: center;
    padding: 5px;
  }
