$maincolor: #03B6D1;
$secondarycolor: #FFD072;
$skyblue: #D1EEF5;
$lightgray: #EFF0F0;
$buttonpurp:  rgb(145, 145, 253);

@media only screen and (min-width: 65em) {

    header li {
        display: inline !important;
    }
    header li:first-child {
        display: none !important;
    }
    header nav {
        background-color: $lightgray;
        max-width: 100%;
        margin-left: auto;
        line-height: 1.5em;
        margin-top: 1.5em;
    }
    header nav a {
        display: inline;
        border-top: none;
    }
    #navigation {
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin: .4em;
    }
    header h1 {
        position: absolute;
        left: 300px;
        top: 35px;
        z-index: auto;
        margin: .5em;
    }
/* end universal code */
/* start home page code */
    .temple-status {
        display: grid;
        grid-template-columns: 1fr 1fr;

        #dc-temple {
            width: 100%;   
        }
    }//end temple status div
/* end home page code */

/* start reservation page code */
form {
    display: grid;
    margin: 0 auto;

    .name, .contact, .duration, .room {
        display: inline-block;
        max-width: 100%;
      } // sub li classes
}// end form

/* start temple page code */
.cards {
    .temple {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .weather {
            margin-left: 2em;
            padding: 10px;
            margin-top: -5px;
        }//end weather group
        .tempInfo {
            padding: 10px;
        }
    }//end temple section
    section:nth-child(odd) h2 {
        grid-column: 2;
        grid-row: 1;
    }
    section:nth-child(odd) img {
        grid-column: 2;
        grid-row: 2;
    }
    section:nth-child(odd) .tempInfo {
        grid-column: 1;
        grid-row: 2;
    }
    section:nth-child(odd) .weather {
        grid-column: 2;
        grid-row: 3;
    }
    section:nth-child(even) img {
        grid-column: 1;
    }
    section:nth-child(even) .tempInfo {
        grid-column: 2;
        grid-row: 2;
    }
} // end cards div
/* end temple page code */

/* start services page code */
.servpg {
    h4 {
        margin: 1em 10em;
    }//end h4 
    .servlist {
        margin: 3em;
    }// end ul list 
    .subButtons {
        gap: 3em;
    }//end buttons
}
/* end services page code */

/* start contact us page code */
.conpg {

    ul {
        text-align: center;
    }
    .social-conpg {
        text-align: center;
    }
}//end contact us main
/* end contact us page code */

/* start reception page code */
.partypg {

    h4 {
        margin: 1em 3em;
    }//end h4
    p {
        margin: 1em 2em;
        text-align: left;
    }//end p
    section {
        padding: 5px;
        margin: 0 2em;
    }//end section
    .themes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 90%;
        margin: 0 auto;
    }
    .menus {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

    
} /* end media query */