$maincolor: #03B6D1;
$secondarycolor: #FFD072;
$skyblue: #D1EEF5;
$lightgray: #EFF0F0;
$buttonpurp:  rgb(145, 145, 253);

@media screen and (min-width: 50em) and (max-width: 65em) { 

    header li {
        display: inline !important;
    }
    header li:first-child {
        display: none !important;
    }
    #navigation li .active {
        background-color: $skyblue;
      }
    header nav {
        background-color: $lightgray;
        max-width: 100%;
        margin-top: 1.5em;
        margin-left: auto;
        line-height: 1.5em;
      }
    header nav a {
        display: inline;
        border-top: none;
      }
    #navigation {
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin: .4em;
        text-align: center;
      }
    header h1 {
        position: absolute;
        left: 200px;
        top: 35px;
        z-index: auto;
        margin: .5em;
    }
/* end universal code */
/* start form code */
form {
  padding: 1em 2em;
  display: grid;
  margin: 0 auto;

  .name, .contact, .duration, .room {
    display: inline-block;
    max-width: 100%;
  } // sub li classes
  li {
    margin: 20px;
   }
  input {
    max-width: 100%;
  }
  textarea {
    width: 90%;
    font: 1em sans-serif;
  }
  button {
    width: 6em;
  }
} // end form 
/* end form code */

/* start temples page code */
.cards {
  .temple {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr 100px;
  h2 {
    margin: auto;
  }
  img {
    grid-column: 1;
    max-width: 90%;
  }
  .weather {
    grid-column: 1;
    margin-top: -1em;
    text-align: center;
  }
  .tempInfo {
    grid-column: 2;
    grid-row: 2;
    margin-top: 0;
  }
  }//end temple section
}// end cards div
/* end temple page code */

/* start services page code */
.servpg {
  h4 {
    text-align: center;
    margin: 2em;
  }
}//end services main 
/* end services page code */

/* start contact us page code */
.conpg {
  display: grid;
  margin:0 auto;
  .conpg-msg {
    padding: 10px;
    text-align: center;
  }
  iframe {
    justify-self: center;
  }
  .social-conpg {
    margin: 1em;
    text-align: center;
  }//end social div
}
/* end contact us page code*/

/* start reception page code */
.partypg {
  h4 {
    margin: 1em 5em;
  }//end h4
  p {
    margin: 1em 5em;
    text-align: left;
  }//end p
  section {
    margin: 0 2em;
  }
  .themes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;

    img {
      max-width: 80%;
    }//end img
  }//end themes div

}
/* end reception page code */

    
} /* end media query */
