$maincolor: #03B6D1;
$secondarycolor: #FFD072;
$skyblue: #D1EEF5;
$lightgray: #EFF0F0;
$buttonpurp:  rgb(156, 156, 252);

body {
    background-color: white;
    font-family: "Playfair Display", serif;
}
    header {
        background-color: $secondarycolor;
        padding: 5px;
        font-family: "Great Vibes", cursive;

        #logo {
            background-color: $lightgray;
            border-radius: 50%;
            margin: -1em;
        }//end logo
    /* nav code */    
        nav {
            line-height: 2em;
            text-align: center;
            font-size: 2em;
            margin-left: 11.5em;
            margin-right: 5px;
            margin-top: -5em;
        }
        #navigation {
            list-style-type: none;
            display: grid;
            margin: 1em;
            text-decoration: none;
            background-color: $lightgray;       
        }
        nav a {
            padding: 1em;
            min-width: 70px;
        }
        nav a:link, nav a:visited {
            color:$maincolor;
        }
        nav a:hover {
            color: $secondarycolor;
            background-color: $skyblue;
        }
        li {
            flex-basis: 25%;
        }
        .active {
            background-color: $skyblue;
        }// end nav code

        h1 {
            color: $maincolor;
            font-size: 65px;
            text-align: center;
            padding: 5px;
            margin-top: 1em;
        }// end title
    }// end header 

    footer {
        background-color: $secondarycolor;
        padding: 15px;
        text-align: center;
    }//end footer
/* ending of universal code */

/* code for home page */
    .booking {
        display: flex;
        justify-content: center;
        align-items: center;

        .bButton {
            margin: 1em 0;
            padding: 25px;
            font-size: 40px;
            border-radius: 50%;
            background-color: $buttonpurp;
            color: white;
            font-family: "Great Vibes";
            border: 3px solid black;
            box-shadow: 5px 5px 8px #888888;
        }
        .bButton:hover {
            color:$buttonpurp;
            background-color: $skyblue;
        }
    }// end button, booking
    
    .spotlight {
        padding: 15px;
        background-color: $lightgray;
        margin: 1em .5em;

        #temple-spot {
            font-family:"Great Vibes", cursive;
            font-size: 40px;
            color: $maincolor;
            margin-left: 15px;
        }
        #dc-temple {
            max-width: 100%;
            margin:0 auto;
            padding: 15px;
        }
        article {
            padding: 10px;
            line-height: 1.5em;
            margin-bottom: 1em;
        }
    } // end temple spotlight article 
    .short-contact {
        padding: 15px;
        background-color: $skyblue;
        margin: 1em .5em;

        .social {
            text-decoration: none;
            padding: 5px;
        }
    }// end contact summary
/* end of home page code */

/* start of reservation pg code*/
#thanksMsg {
    font-family: "Playfair Display";
    font-size: 2em;
    margin: 3em;
    text-align: center;
}
form {
    padding: 1em 6em;
    margin: 2em;
    border: 2px solid #CCC;
    border-radius: 1em;
    max-width: fit-content;
    display: inline-block;
    ul {
        list-style: none;
    }// end ul
    h3 {
        font-family: "Great Vibes";
        font-size: 30px;
        color: $maincolor;
    }//end h4
    label {
        vertical-align: right;
    }//end label
    li {
        margin: 20px;
    }//end li
    input {
        font: 1em sans-serif;
        /* Uniform text field size */
        box-sizing: border-box;
        border: 1px solid #999;
        width: 150px;
        padding: 5px;
    }// end input
    textarea {
        width: 85%;
        font: 1em sans-serif;
        box-sizing: border-box;
        border: 1px solid #999;
        vertical-align: top;
    }// end text area
    input:focus, textarea:focus {
        /* Additional highlight for focused elements */
        border-color: #999;
    }
    button {
        padding: 10px;
        width: 6em;
        margin: 5px;
        background-color: $buttonpurp;
        color: white;
        font-size: 30px;
        border-radius: 50%;
        font-family: "Great Vibes";
        border: 3px solid black;
        box-shadow: 5px 5px 8px #888888;
    } 
    button:hover {
        color:$buttonpurp;
        background-color: $skyblue;
    }// end button
}// end form
/* end reservation code */

/* start temples code */
.cards {

    .temple {
        background-color: $lightgray;
        padding: 10px;
        margin: 1em .5em;
    }//end section
    img{
        max-width: 95%;
        margin: 0 1em;
    }//end img
    h4{
        font-size: 20px;
        text-decoration: underline;
    }//end h4
    h2{
        font-family: "Great Vibes";
        font-size: 40px;
        color: $maincolor;
        text-align: center;
    }//end h2
    .tempInfo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 5px;
        gap: 10px;
        background-color: $skyblue;

        .tempContact {
            padding-left: 5px;
        }
    }// end temple info div
}// cards class
/* end temple page code */

/* start contact us page code */
.conpg {
    display: grid;
    margin: 0 auto;

    .conpg-msg {
        color: $maincolor;
        font-size: 40px;
        font-family: "Great Vibes";
        text-align: center;
        margin-bottom: .5em;
    }//end h3 
    ul {
        list-style: none;
        font-size: 20px;

        li {
            padding: 10px;
        }
        iframe {
            max-width: 90%;
            margin: 10px;
        }//end embedded map
    }// end ul
    #conpg {
        margin: 0 auto;
        padding: 1em;

        h3 {
            margin: 0 auto;
            text-align: center;
        }
        button {
            margin: 0 auto;
        }
    }//end form
    .social-conpg {
        margin: 3em;
        text-decoration: none;
        a {
            padding: 5px;
        }//end a
    }//end social div
}//end contact main
/* end contact us page code */




/* ham nav code */
    nav {
        margin: 0 auto;
        max-width: 125px;
    } 
    #navigation {
        list-style: none;
        padding: 0;
        display: grid;
    }
    #navigation li:first-child {
        display: block;
    }
    #navigation li {
        display: none;
        background-color: $lightgray;
    }
    #navigation a:link
, #navigation a:visited
, #navigation a:hover
, #navigation a:active
, #navigation a:focus {
    display: block;
    padding: 0.5em;
    text-align: left;
    color:$maincolor;
    text-decoration: none;
    }
    #navigation a:hover {
        color:$secondarycolor;
        background-color: $skyblue;
    }
    #navigation.responsive li {
        display: block;
    } 
