$maincolor: #03B6D1;
$secondarycolor: #FFD072;
$skyblue: #D1EEF5;
$lightgray: #EFF0F0;

@media screen and (max-width: 50em) { 

    body {
        background-color: white;
        font-family: "Playfair Display", serif;
    }
    header {
        background-color: $secondarycolor;
        padding: 5px;
        font-family: "Great Vibes", cursive;

        #logo {
            background-color: $lightgray;
            border-radius: 50%;
            margin: -1em;
        }//end logo
    /* nav code */    
        nav {
            background-color: $lightgray;
            line-height: 2em;
            text-align: center;
            font-size: 2em;
            margin-left: 13em;
            margin-right: 5px;
            margin-top: -5em;
        }
        #navigation {
            list-style-type: none;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
            margin: 1em;
            text-decoration: none;
        }
        nav a {
            padding: 1em;
            min-width: 70px;
        }
        nav a:link, nav a:visited {
            color:$maincolor;
        }
        nav a:hover {
            color: $secondarycolor;
            background-color: $skyblue;
        }
        li {
            flex-basis: 25%;
        }// end nav code

        h1 {
            color: $maincolor;
            font-size: 65px;
            text-align: center;
            padding: 5px;
            margin-top: 1em;
        }// end title
    }// end header 

    .booking {
        display: flex;
        justify-content: center;
        align-items: center;

        .bButton {
            margin: 1em 0;
            padding: 25px;
            font-size: 40px;
            border-radius: 50%;
            background-color: rgb(145, 145, 253);
            color: white;
            font-family: "Great Vibes";
            border: 3px solid black;
            box-shadow: 5px 5px 8px #888888;
        }
        .bButton:hover {
            color: rgb(145, 145, 253);
            background-color: $skyblue;
        }
    }// end button, booking
    
    .spotlight {
        padding: 15px;
        background-color: $lightgray;
        margin: 1em .5em;

        #temple-spot {
            font-family:"Great Vibes", cursive;
            font-size: 40px;
            color: $maincolor;
            margin-left: 15px;
        }
        #dc-temple {
            max-width: 100%;
            margin:0 auto;
            padding: 15px;
        }
        article {
            padding: 10px;
            line-height: 1.5em;
            margin-bottom: 1em;
        }
    } // end temple spotlight article 
    .short-contact {
        padding: 15px;
        background-color: $skyblue;
        margin: 1em .5em;

        .social {
            text-decoration: none;
            padding: 5px;
        }
    }// end contact summary

    footer {
        background-color: $secondarycolor;
        padding: 15px;
        text-align: center;
    }//end footer


    /* ham nav code */
    nav {
        margin: 0 auto;
        max-width: 125px;
        background-color: $lightgray;
        border-radius: 30%;
    } 
    #navigation {
        list-style: none;
        padding: 0;
        display: grid;
        grid-template-columns: auto;
    }
    #navigation li:first-child {
        display: block;
    }
    #navigation li {
        display: none;
    }
    #navigation a:link
, #navigation a:visited
, #navigation a:hover
, #navigation a:active
, #navigation a:focus {
    display: block;
    padding: 0.5em;
    text-align: left;
    color:$maincolor;
    text-decoration: none;
    }
    #navigation a:hover {
        color:$secondarycolor;
        background-color: $skyblue;
        border-radius: 30%;
    }
    #navigation.responsive li {
        display: block;
    } 

    } /* end media query */