/* stylesheet for weather site plan */

/* decision between Flex or Grid */



/* table class colors table code */
.colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center;
  }
  .colors th {
    background-color: #999;
  }
  .colors td{
    width: 25%;
    height: 3em;
  }