/* stylesheet for weather site plan */

/* decision between Flex or Grid */
body {
  background-color: #F9F9F1; /* floral white */
}
header {
  padding-top: 1em;
  text-align: center;
  color: #083D77; /* indigo dye*/
  background-color: #F2CB40; /* maize crayola */
  font-family: "Gloria Hallelujah";
}
nav {
  background-color: #083D77;
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav > ul {
  list-style-type: none;
  display: flex;
}
nav a {
  padding:1em;
  min-width: 70px;
}
nav a:link, nav a:visited {
  color: #75E2FA;
}
nav a:hover {
  color:  #75E2FA;
  background-color: #F9F9F1;
}
li {
  flex-basis: 25%;
}


main {
  background-color: #F9F9F1;
  max-width: 1000px;
  margin: 0 auto;
  font-family: "Hind Guntur", Helvetica;
}
img {
  max-width: 100%;
}
h1, h2, h3 {
  font-family: "Gloria Hallelujah";
  color: #083D77;
}
p {
  padding: 8px;
}






/* table class colors table code */
.primary {
  background-color: #75E2FA;
}
.secondary {
  background-color: #F2CB40;
}
.accent1 {
  background-color: #F9F9F1;
}
.accent2{
  background-color: #083D77;
}
.colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center;
  }
  .colors th {
    background-color: #999;
  }
  .colors td{
    width: 25%;
    height: 3em;
  }