@media screen and (max-width: 550px) { 
    /* beginning of media query */
      .home-grid, nav ul, header, .banner-box {
        display: block;
        }
        
    /* end of media query */ 
    } 