body {
    background-color: lightgray;
}
header {
    color: rgb(69, 69, 197);
    text-align: center;
    font-family: cursive;
}
h2 {
    color:rgb(69, 69, 197);
    font-family: cursive;
    text-align: center;
}
p {
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: small;
}
.cards{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
img {
    margin: 1em;
    margin-left: 3.5em;
    box-shadow: 0px 0px 5px 5px rgb(97, 96, 96);
    max-width: 60%;
}
section {
    background-color: rgb(200, 200, 248);
    margin: .25em;
    padding: 10px;
    border: 2px solid rgb(69, 69, 197);
}


/* footer code */
footer {
    font-family: Helvetica, sans-serif;
    padding: 5px;
    margin: 1em;
    text-align: center;
}

@media screen and (max-width: 55em) { 
    .cards{ 
        display: grid;
        grid-template-columns: 1fr;
    }
    img {
        max-width: 50%;
        margin-left: 8em;
    }
    section {
        padding: 0px;
    }
    h2 {
        font-size: 30px;
    }
    p {
        font-size: medium;
    }
}
