main {
  max-width: 1500px;
  margin: auto;
}


@media only screen and (min-width: 65em) {
    header li {
        display: inline !important;
    }
    header li:first-child {
        display: none !important;
    }
    header nav {
        background-color: #083D77;
        padding: 1px;
        margin: 1em 0;
        max-width: 100%;
    }
    header nav a {
        display: inline;
        border-top: none;
    }
    #banner {
        width: 1500px;
        height: auto;
    }
    .fiveDay {
        text-align: center;
    }
    footer {
        width: 100%;
    }


/* nav code */
    nav {
        background-color: #083D77;
        line-height: 3em;
        text-align: center;
        font-size: 1.2em;
      }
    #navigation {
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        margin: 2em;
      }
      nav a {
        padding: 1em;
        min-width: 70px;
      }
      nav a:link
      , nav a:visited {
        color: #75E2FA;
      }
      nav a:hover {
        color:  #75E2FA;
        background-color: #F9F9F1;
        letter-spacing: 3pt !important;
      }
      li {
        flex-basis: 25%;
      }
}
