#fullwidth {
    width: 100%;
    background-color: purple;
    color: white;
    padding: 10px;
    border: 12px solid black;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 20;
}

#image {
    position: relative;
    width: 500px;
}
#image img {
    width: 500px;
}

.overlay {
    position: absolute;
    width: 150px;
    right: 75px;
    height: auto;
  /*  background-color: #F9F9F1; */
    top: 35%;
    padding: 10px;
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    border: 5px double black;
    box-shadow: 1em;
    text-shadow: 2em;
}
#image2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 50px 1fr;
    width: 500px;
}
.img {
    grid-row: 1/-1;
    grid-column: 1/-1;
    width: 500px;
    z-index: 6;
}
.overlay2 {
    grid-column: 2;
    grid-row: 2;
    z-index: 12;
}