main {
  max-width: 1500px;
  margin: auto;
}

@media only screen and (min-width: 65em) {
    header li {
        display: inline !important;
    }
    header li:first-child {
        display: none !important;
    }
    header nav {
        background-color: #083D77;
        margin-top: 2em;
        max-width: 100%;
        margin-bottom: -1em;
    }
    header nav a {
        display: inline;
        border-top: none;
    }
    header h1, header h3 {
        margin-left: -1em;
        margin-right: 2em;
    }
    #logo {
      padding: 5px;
      margin-top: -1em;
      margin-left: .5em;
    }

  /* hero img and summary code */
    .topGrid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
    }
    #banner {
      width: 1500px;
      height: auto;
      margin-top: 3em;
      grid-column: 1/-1;
      grid-row: 1/-1;
    }
    .topGrid .summary {
      grid-column: 1/2;
      grid-row: 1/-1;
      background-color:#fff7b4c2;
      padding: 10px;
      margin: 11% 3em;
      margin-bottom: 1.5em;
    }
    .summary h2 {
      text-align: center;
      padding: 5px;
      margin-top: -.2em;
    }
    .summary p, span {
      text-align: left;
      padding: 5px;
      margin-left: 2em;
    }

/* five day forcast code */
    #fiveDayheadline {
      margin-top: 1em;
    }
    .fiveDay {
      display: flex;
      justify-content: space-around;
    }
    .fiveDay {
      padding: 10px;
      margin: 1em auto;
      height: auto;
      width: 85%;
      padding-left: 1em;
      border-style: outset;
      border-width: .5em;
      background-color: #75E2FA;
    }
    .fiveForecast h3 {
      font-size: 30px;
      margin: 0 auto;
    }
    .fiveForecast img {
      margin-left: 1em;
      image-resolution: 100dpi;
    }
    .fiveForecast p {
      font-size: 22px;
      margin: 0 auto;
    }

  /* town events code */
  .townEvents {
    margin: 4em;
    margin-left: 20em;
    padding: 5px;
    max-width: 50%;
  }

    article {
      margin: 3em;
    }
    article img {
      margin: 10px;
      display: inline-block;
      position: relative;
      max-width: 25%;
    }

    /* footer code */
    footer #map {
      height: auto;
      width: 90%;
      padding: 2px;
      border-style: solid;
      border-color: #F9F9F1;
      grid-column: 2/3;
      grid-row: 1/-1;
      margin-right: 5em;
    }
    .social {
      text-align: center;
      margin: 0 auto;
      margin-top: -4em;
      max-width: 90%;
    }
    .contactUs {
      margin-top: 3em;
    }
    footer {
        width: 100%;
    }


/* nav code */
    nav {
        background-color: #083D77;
        line-height: 3em;
        text-align: center;
        font-size: 1.2em;
      }
    #navigation {
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        margin: .4em;
      }
    #navigation li .active {
      background-color: #08438f;
      text-decoration: underline;
    }
      nav a {
        padding: 1em;
        min-width: 70px;
      }
      nav a:link
      , nav a:visited {
        color: #75E2FA;
      }
      nav a:hover {
        color:  #75E2FA;
        background-color: #F9F9F1;
      }
      li {
        flex-basis: 25%;
      }
}
