/*@media only screen and (min-width: 55em) {
  .home-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
}*/
body {
    background-color: #F9F9F1; /* floral white */
  }
  .satBanner {
    padding: 10px;
    background-color: red;
    color: white;
    font-size: 1em;
    font-family: "Yusei Magic";
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 20;
  }
#logo {
    height: 150px;
    width: 150px;
    margin: -1em;
    margin-top: -2em;
    margin-right: -2em;
    float: left;
    position: relative;
} 
header {
    padding-top: 1em;
    padding-bottom: .5em;
    color: #083D77; /* indigo dye*/
    background-color: #F2CB40; /* maize crayola */
    font-family: "Gloria Hallelujah";
    margin-bottom: -1em;
}
header h1 {
    text-align: center;
    margin: 0 auto;
    margin-left: -1em;
    font-size: 45px;
}
header h3 {
    text-align: center;
    margin: 0 auto;
}
#banner {
  margin: .5em auto;
  max-width: 100%;
  height: auto;
}



/*navigation code */
nav {
    background-color: #083D77;
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
  }
  #navigation {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));    
    margin: 2em;
  }
  nav a {
    padding: 1em;
    min-width: 70px;
  }
  nav a:link
  , nav a:visited {
    color: #75E2FA;
  }
  nav a:hover {
    color:  #75E2FA;
    background-color: #F9F9F1;
  }
  li {
    flex-basis: 25%;
  }


/* main code */
  .summary {
      padding: 5px;
      margin: .5em auto;
      background-color: #fff8b4;
      border: 2px solid gray;
  }
  .summary h2 {
    text-align: center;
    font-family: "Gloria Hallelujah";
    font-size: 30px; 
    margin-left: 1em;
    margin-top: .25em;
    text-decoration: underline;
  }
  .summary p, span {
    font-family: "Hind Guntur";
    font-size: 18px;
    text-align: left;
    margin: -.25em;
    margin-left: 1em;
    padding: 7px;
  }
  .summary img {
    display: none;
  }

  /* forecast code */
  #fiveDayheadline {
    font-family: "Gloria Hallelujah";
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    padding: 5px;
    margin: .5em auto;
    margin-top: 1em;
  }
  .fiveDay {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  .fiveDay {
    padding: 10px;
    margin: 1em auto;
    height: auto;
    width: 90%;
    padding-left: 1em;
    border-style: outset;
    border-width: .5em;
    background-color: #75E2FA;
  }
  .fiveForecast h3 {
    font-family: "Gloria Hallelujah";
    background-color: #F2CB40;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid;
    font-size: 25px;
    margin-top: 0;
  }
  .fiveForecast img { 
    padding: .5em;
    margin-left: .10em;
    width: 80%;
  }
  .fiveForecast p {
    font-family: "Hind Guntur";
    background-color: #F9F9F1;
    margin-bottom: 0;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border-top: 2px solid;
  }
  .fiveForecast {
    border: 2px solid black;
  }

/* article code */
  article h4 {
    font-family: "Gloria Hallelujah";
    text-align: left;
    font-size: 20px;
    margin-left: 1em;
    text-decoration: underline;
  }
  article {
    font-family: "Hind Guntur";
    font-size: 15px;
    text-align: left;
    padding: 15px;
    margin: 0 auto;
  }
  article img {
    padding: 5px;
    margin: auto 1em;
  }


/* footer code */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background-color:#083D77; /* indigo dye*/
    height: auto;
    max-width: 100%;
    margin: 1em auto;
    padding-bottom: 0;
    font-family: "Hind Guntur";
  }
footer a {
    text-decoration: none;
    padding: 2px;
  }
.contactUs {
    font-size: 20px;
    color: #F9F9F1;
    margin: 0 auto;
    padding: 5px;
}
.contactUs h4 {
    font-family: "Gloria Hallelujah";
    margin: 0 auto;
}
.social {
    text-align: left;
    margin: 1em;
    max-width: 90%;
  }
  footer #map {
    height: auto;
    width: 90%;
    padding: 2px;
    border-style: solid;
    border-color: #F9F9F1;
    grid-column: 1/-1;
    margin: 0 auto;
  }
footer #bottomTag {
    background-color: #F2CB40;
    font-size: 14px;
    color: black;
    text-align: center;
    padding: 10px;
    grid-column: 1/3;
    margin-bottom: 0;
    margin-left: -1.45em;
    margin-right: -1.45em;
  }


/* menu.css code */
  nav {
    margin: 0 auto;
    max-width: 360px;
    background-color: #083D77;
}
#navigation {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
}
#navigation li:first-child {
    display: block;
}
#navigation li {
    display: none;
}
#navigation a:link
, #navigation a:visited
, #navigation a:hover
, #navigation a:active
, #navigation a:focus {
    display: block;
    padding: 0.75em;
    text-align: left;
    color: #F9F9F1;
    text-decoration: none;
    font-weight: bold;
}
#navigation a:hover {
    color:  #75E2FA;
    background-color: #F9F9F1;
}
#navigation.responsive li {
    display: block;
}


.satBanner {
  display: none; 
}