#fullwidth {
    width: 100%;
    background-color: purple;
    color: white;
    padding: 10px;
    border: 12px solid black;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 20;
}

#image {

}
